.header{
    z-index: 100;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100px;

    background-color: black;
    color: white;   
}


.left-section a{
    margin-top: 8px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.logo-img{
    height: 44.5px;
    margin-left: 15px;
    padding-right: 30px;
    border-radius: 100px;
}
.left-section p{
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: -30px;
    padding: 10px 25px 10px 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    transition: all 0.15s;
}
.left-section p:hover{
    background-color: white;
    color: rgb(0, 155, 0);
}


.right-section{
    flex-shrink: 0;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.right-section nav{
    padding: 0 20px;
    border: 2px solid black;
    padding-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: border-bottom-color 0.15s;
}
.right-section nav:hover{
    border-bottom-color: rgb(0, 155, 0);
    padding-bottom: 3px;
}